.dp-added{
	background-color: #b4e2b4
}
.dp-removed{
	background-color: #e9aeae
}
.dp-content{
	width: 90%
}
#dpattachments-container{
    border: 2px solid;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 5px;
    padding: 5px;
}
